In [1]:
#Instalo librer√≠a
!pip install anonymizedf

Requirement already satisfied: anonymizedf in c:\users\matia\appdata\local\programs\python\python310\lib\site-packages (1.0.1)
Requirement already satisfied: pandas in c:\users\matia\appdata\local\programs\python\python310\lib\site-packages (from anonymizedf) (1.4.2)
Requirement already satisfied: faker in c:\users\matia\appdata\local\programs\python\python310\lib\site-packages (from anonymizedf) (19.13.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\matia\appdata\local\programs\python\python310\lib\site-packages (from faker->anonymizedf) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\matia\appdata\local\programs\python\python310\lib\site-packages (from pandas->anonymizedf) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\matia\appdata\local\programs\python\python310\lib\site-packages (from pandas->anonymizedf) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\matia\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.4->faker->anonymizedf) (1.16.0)

In [2]:
import pandas as pd
from anonymizedf.anonymizedf import anonymize

# Paso 1: Lectura de datos

In [3]:
df= pd.read_csv('Datos_Microdesafio_Semana8_DE.csv',sep=';')
df.head(12)

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737
11,Canada,John white,No,Si,Si,04/01/2022,83873734

# Paso 2: Anonimizacion de columnas

In [4]:
# Preparar el dataframe, paso objeto por anonymize
an = anonymize(df)

In [5]:
#Es de tipo anonymize
type(an)

anonymizedf.anonymizedf.anonymize

In [6]:
anonymize?

Init signature: anonymize(df)
Docstring:
Initializes a Pandas DataFrame as an anonymize object
to be used for making fake data.

Args:
    df: takes a Pandas DataFrame

Returns:
    anonymize object
File:           c:\users\matia\appdata\local\programs\python\python310\lib\site-packages\anonymizedf\anonymizedf.py
Type:           type
Subclasses:

`anonymize:` Este m√©todo se utiliza para anonimizar un dataframe. El m√©todo reemplaza todos los valores de una columna dada por valores aleatorios generados por el algoritmo de hash SHA-256. Esto se hace para preservar la distribuci√≥n de los datos originales. El m√©todo devuelve un nuevo dataframe con los valores originales reemplazados por valores anonimizados.

In [7]:
#Instalo Faker
!pip install Faker

Requirement already satisfied: Faker in c:\users\matia\appdata\local\programs\python\python310\lib\site-packages (19.13.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\matia\appdata\local\programs\python\python310\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\matia\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [8]:
Faker?

Object `Faker` not found.

In [9]:
#Importo y creo instancias
from faker import Faker
fake = Faker()

In [10]:
#Genera c√≥digos de PAISES aleatoreos cada vez que ejecuto
fake.country_code()

'CR'

In [11]:
#Genera CIUDADES aleatoreos cada vez que ejecuto
fake.city()

'Jennifermouth'

In [12]:
#Genera c√≥digos de COORDENADAS aleatoreos cada vez que ejecuto
fake.coordinate()

Decimal('12.746628')

In [13]:
#Genera EMAIL aleatoreos cada vez que ejecuto
fake.company_email()

'gperez@blair-jefferson.org'

In [14]:
#Genera JSON aleatoreos cada vez que ejecuto
fake.json()

'[{"name": "Charles Reed", "residency": "354 Erin Junction\\nRogerston, WY 26898"}, {"name": "Ashley Hawkins", "residency": "804 Jacob Shores\\nPort Heathermouth, ME 87974"}, {"name": "Randall Palmer", "residency": "59687 Mendoza Camp Suite 482\\nSouth Jessicastad, MS 34929"}, {"name": "Anthony Humphrey", "residency": "6076 Nathan Shores Suite 446\\nLauraville, OR 20391"}, {"name": "Kevin Ewing", "residency": "4015 Rivas Fords Apt. 234\\nPort Jenniferfort, VT 56943"}, {"name": "Juan King", "residency": "918 Chen Cliffs Apt. 938\\nNew Richardville, IN 82786"}, {"name": "Kevin Hill", "residency": "05334 Peters Flat Suite 075\\nBishopmouth, MI 99046"}, {"name": "Derek Hall", "residency": "688 Jackson Valleys\\nRomanland, NM 61708"}, {"name": "Sean Cox", "residency": "788 Bauer Locks\\nBrendamouth, CT 82981"}, {"name": "Casey Sanchez", "residency": "430 Brandon Key Suite 943\\nHunterchester, TN 85736"}]'

In [15]:
#Funci√≥n para serializar
for _ in range(10):
  print(fake.name())

Mason Young
Carol Parrish
Taylor Cook
George Nelson
Keith Santiago
Sara Pena
Clarence Miles
Mr. Timothy Farmer
Tyler Leach
Jenna Orr

In [16]:
#Anonimizo objeto DF, aplico m√©todo espec√≠fico sobre columna.
fake_df = (
    an
    .fake_names("Comisionado", chaining=True)
    .fake_dates("Fecha", chaining=True)
    .fake_whole_numbers("Telefono", chaining=True)
    .show_data_frame()
)
fake_df

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono,Fake_Comisionado,Fake_Fecha,Fake_Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698,Grace Hamilton,1994-03-04,84043485
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899,Dr Christopher Singh,1981-02-25,40313769
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749,Dr Gareth Ball,2007-11-06,74745646
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474,Owen Begum,1973-07-23,65617023
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474,Kirsty Edwards,2007-04-02,53228909
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383,Dr Mitchell Marshall,1972-01-18,29435973
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453,Miss Lesley Bartlett,2000-03-13,42296819
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344,Kim Lambert,1981-02-25,74576322
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654,Rosemary Smith,2014-09-17,78381944
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373,Mr Paul Saunders,1975-10-19,45571819
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737,Owen Burns,2000-03-09,48367482
11,Canada,John white,No,Si,Si,04/01/2022,83873734,Caroline Bailey-Weston,2007-08-12,76174258
12,Mexico,Andres Fernandez,Si,Si,No,08/05/2022,64634746,Julie Young,1982-05-16,37715759
13,Costa Rica,Pedro Urrutia,No,No,Si,09/06/2022,14544643,Bradley Evans,1972-01-27,24224599
14,Jamaica,Michael Sophit,No,No,No,26/07/2022,75638664,Malcolm Middleton-Jones,1981-09-20,45601567

In [17]:
#Tipo dato salida es un dataframe
type(fake_df)

pandas.core.frame.DataFrame

In [18]:
#Veo columnas de salida
fake_df.columns

Index(['Pais ', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
       'Inversion_arboles', 'Fecha', 'Telefono', 'Fake_Comisionado',
       'Fake_Fecha', 'Fake_Telefono'],
      dtype='object')

# Paso 3: Eleccion de columnas para alimentar database

In [19]:
#Elecci√≥n de columnas, cambio nombre para que no diga fake
df_final=fake_df[['Pais ','Fake_Comisionado','Reduccion_CO2','Incrmento_P','Inversion_arboles',
                  'Fake_Fecha','Fake_Telefono']]
df_final.columns=['Pais', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
                   'Inversion_arboles', 'Fecha', 'Telefono',]
df_final

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Grace Hamilton,Si,Si,Si,1994-03-04,84043485
1,Colombia,Dr Christopher Singh,No,No,Si,1981-02-25,40313769
2,Chile,Dr Gareth Ball,Si,Si,Si,2007-11-06,74745646
3,Bolivia,Owen Begum,No,No,No,1973-07-23,65617023
4,Paraguay,Kirsty Edwards,No,Si,Si,2007-04-02,53228909
5,Venezuela,Dr Mitchell Marshall,Si,Si,No,1972-01-18,29435973
6,Uruguay,Miss Lesley Bartlett,No,No,Si,2000-03-13,42296819
7,Brasil,Kim Lambert,Si,Si,No,1981-02-25,74576322
8,Ecuador,Rosemary Smith,No,No,No,2014-09-17,78381944
9,Peru,Mr Paul Saunders,No,No,No,1975-10-19,45571819
10,EEUU,Owen Burns,Si,Si,Si,2000-03-09,48367482
11,Canada,Caroline Bailey-Weston,No,Si,Si,2007-08-12,76174258
12,Mexico,Julie Young,Si,Si,No,1982-05-16,37715759
13,Costa Rica,Bradley Evans,No,No,Si,1972-01-27,24224599
14,Jamaica,Malcolm Middleton-Jones,No,No,No,1981-09-20,45601567

In [20]:
#Veo como quedan columnas finales transformadas
df_final.columns

Index(['Pais', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
       'Inversion_arboles', 'Fecha', 'Telefono'],
      dtype='object')

# Paso 4: Conexion a Redshift

## ALTERNATIVA: DOTENV

Alternativas para guardar PW / Guardo en archivo .env de configuraci√≥n.

In [21]:
#Instalo
!pip install -q python-dotenv

In [22]:
from dotenv import load_dotenv
import os
load_dotenv() # Cargar data de archivo .env
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
port = os.getenv("DB_PORT")
data_base = os.getenv("DB")
pwd = os.getenv("DB_PDW")

In [23]:
#Puedo verificar que guard√≥ en cada uno
host

'data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com'

In [24]:
!pip install -q psycopg2

In [25]:
import psycopg2
try:
    conn = psycopg2.connect(
        host=host,
        dbname=data_base,
        user=user,
        password=pwd,
        port=port
    )
    print("Connected to Redshift successfully!")
    
except Exception as e:
    print("Unable to connect to Redshift.")
    print(e)

Connected to Redshift successfully!

In [32]:
df_final.dtypes

Pais                 object
Comisionado          object
Reduccion_CO2        object
Incrmento_P          object
Inversion_arboles    object
Fecha                object
Telefono              int64
dtype: object

# Paso 5: Enviar tabla a la base de datos

In [33]:
#Herramienta inserci√≥n fila por fila
from psycopg2.extras import execute_values

def cargar_en_redshift(conn, table_name, dataframe):
    dtypes= dataframe.dtypes
    cols= list(dtypes.index )
    tipos= list(dtypes.values)
    type_map = {'int64': 'INT','float64': 'FLOAT','object': 'VARCHAR(50)'}
    sql_dtypes = [type_map[str(dtype)] for dtype in tipos]
    # Definir formato SQL VARIABLE TIPO_DATO
    column_defs = [f"{name} {data_type}" for name, data_type in zip(cols, sql_dtypes)]
    # Combine column definitions into the CREATE TABLE statement
    table_schema = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            {', '.join(column_defs)}
        );
        """
    # Crear la tabla
    cur = conn.cursor()
    cur.execute(table_schema)
    # Generar los valores a insertar
    values = [tuple(x) for x in dataframe.to_numpy()]
    # Definir el INSERT
    insert_sql = f"INSERT INTO {table_name} ({', '.join(cols)}) VALUES %s"
    # Execute the transaction to insert the data
    cur.execute("BEGIN")
    execute_values(cur, insert_sql, values)
    cur.execute("COMMIT")
    print('Proceso terminado')

In [29]:
cargar_en_redshift(conn=conn, table_name='POLITICAS_2050', dataframe=df_final)

Proceso terminado

In [30]:
t=pd.read_csv('airbnb_nyc.csv',sep=',')
t.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:8c89537d9f91f2a259cb5e7c5b942ed8560...
1                                      size 65146638

In [31]:
t.columns

Index(['version https://git-lfs.github.com/spec/v1'], dtype='object')