In [1]:
#!pip install anonymizedf

Collecting anonymizedf
  Using cached anonymizedf-1.0.1-py3-none-any.whl (7.0 kB)
Collecting faker
  Downloading Faker-18.4.0-py3-none-any.whl (1.7 MB)
     ---------------------------------------- 1.7/1.7 MB 9.0 MB/s eta 0:00:00
Requirement already satisfied: pandas in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from anonymizedf) (1.5.1)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from faker->anonymizedf) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas->anonymizedf) (2022.5)
Requirement already satisfied: numpy>=1.21.0 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas->anonymizedf) (1.23.4)
Requirement already satisfied: six>=1.5 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.4->faker->anonymizedf) (1.16.0)
Installing collected packages: faker, anonymizedf
Successfully installed anonymizedf-1.0.1 faker-18.4.0

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: C:\Users\Windows\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [20]:
import pandas as pd
from anonymizedf.anonymizedf import anonymize

# Paso 1: Lectura de datos

In [21]:
df= pd.read_csv('Datos_Microdesafio_Semana8_DE.csv',sep=';')
df.head(12)

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737
11,Canada,John white,No,Si,Si,04/01/2022,83873734

# Paso 2: Anonimizacion de columnas

In [22]:
# Preparar el dataframe
an = anonymize(df)

In [23]:
type(an)

anonymizedf.anonymizedf.anonymize

In [5]:
anonymize?

Init signature: anonymize(df)
Docstring:
Initializes a Pandas DataFrame as an anonymize object
to be used for making fake data.

Args:
    df: takes a Pandas DataFrame

Returns:
    anonymize object
File:           c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages\anonymizedf\anonymizedf.py
Type:           type
Subclasses:

`anonymize:` Este método se utiliza para anonimizar un dataframe. El método reemplaza todos los valores de una columna dada por valores aleatorios generados por el algoritmo de hash SHA-256. Esto se hace para preservar la distribución de los datos originales. El método devuelve un nuevo dataframe con los valores originales reemplazados por valores anonimizados.

In [9]:
!pip install Faker

Requirement already satisfied: Faker in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (18.4.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: C:\Users\Windows\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [20]:
Faker?

Init signature:
Faker(
    locale: Union[str, Sequence[str], Dict[str, Union[int, float]], NoneType] = None,
    providers: Optional[List[str]] = None,
    generator: Optional[faker.generator.Generator] = None,
    includes: Optional[List[str]] = None,
    use_weighting: bool = True,
    **config: Any,
) -> None
Docstring:      Proxy class capable of supporting multiple locales
File:           c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages\faker\proxy.py
Type:           type
Subclasses:

In [24]:
from faker import Faker
fake = Faker()

In [25]:
fake.country_code()

'CH'

In [26]:
fake.city()

'Sallyfort'

In [27]:
fake.coordinate()

Decimal('-178.614573')

In [28]:
fake.company_email()

'efritz@clark-nichols.com'

In [29]:
fake.json()

'[{"name": "Gary Ramirez", "residency": "97957 Cuevas Green\\nSmithburgh, WY 54892"}, {"name": "Joseph Brady", "residency": "352 Murphy Bridge Suite 512\\nGarciaview, NH 50984"}, {"name": "Christine Baldwin", "residency": "4167 Norman Well Suite 653\\nGonzalezton, VA 75013"}, {"name": "Robert Maldonado", "residency": "72302 Megan Mountain Apt. 108\\nPort Scott, CO 66375"}, {"name": "Theresa Blair", "residency": "854 Young Divide Suite 756\\nSouth Samanthabury, AZ 98530"}, {"name": "Adam Miller", "residency": "29859 Hannah Rapids Suite 462\\nHamptonmouth, AL 81182"}, {"name": "Brandi Lowe", "residency": "788 Garcia Roads Apt. 681\\nSouth Christineburgh, NY 17402"}, {"name": "Kenneth Harper", "residency": "5128 Alexander Parks\\nNew Gregoryview, KY 02970"}, {"name": "Mr. Albert Ward", "residency": "6509 Hughes Ports Apt. 207\\nEast Julie, OR 80215"}, {"name": "Donald Villanueva", "residency": "Unit 2530 Box 0232\\nDPO AP 82343"}]'

In [30]:
for _ in range(10):
  print(fake.name())

Vincent Ashley
David Garner
Terry Love
Suzanne Hatfield
Alex Wilson
William Lambert
Darryl Anderson
Nathan Thompson
Phillip Yates
Nichole Hughes

In [31]:
fake_df = (
    an
    .fake_names("Comisionado", chaining=True)
    .fake_dates("Fecha", chaining=True)
    .fake_whole_numbers("Telefono", chaining=True)
    .show_data_frame()
)
fake_df

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono,Fake_Comisionado,Fake_Fecha,Fake_Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698,Chloe Phillips,1973-04-16,65154855
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899,Patrick Oliver,1991-05-25,83649507
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749,Sally Lewis,1973-09-12,67787749
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474,Mohamed Evans,1982-01-28,71468085
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474,Mr Leonard Henry,1987-06-04,72398646
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383,Mrs Joanna Smith,2002-02-01,46439400
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453,Dr Elliot Taylor,1973-09-21,14482644
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344,Mrs Amber Duffy,1991-05-25,38650962
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654,Joyce Pearson-Gilbert,2014-11-16,34309260
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373,Elizabeth Coleman,1970-06-28,78093644
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737,Miss Anna Hanson,1970-06-16,74443777
11,Canada,John white,No,Si,Si,04/01/2022,83873734,Vincent Cook,1979-10-15,57639758
12,Mexico,Andres Fernandez,Si,Si,No,08/05/2022,64634746,Keith Wright,2020-09-27,14451846
13,Costa Rica,Pedro Urrutia,No,No,Si,09/06/2022,14544643,Ms Shannon Wilkins,2010-02-24,82779403
14,Jamaica,Michael Sophit,No,No,No,26/07/2022,75638664,Phillip Cooper,1971-12-02,61396490

In [32]:
type(fake_df)

pandas.core.frame.DataFrame

In [33]:
fake_df.columns

Index(['Pais ', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
       'Inversion_arboles', 'Fecha', 'Telefono', 'Fake_Comisionado',
       'Fake_Fecha', 'Fake_Telefono'],
      dtype='object')

# Paso 3: Eleccion de columnas para alimentar database

In [34]:
df_final=fake_df[['Pais ','Fake_Comisionado','Reduccion_CO2','Incrmento_P','Inversion_arboles',
                  'Fake_Fecha','Fake_Telefono']]
df_final.columns=['Pais', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
                   'Inversion_arboles', 'Fecha', 'Telefono',]
df_final

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Chloe Phillips,Si,Si,Si,1973-04-16,65154855
1,Colombia,Patrick Oliver,No,No,Si,1991-05-25,83649507
2,Chile,Sally Lewis,Si,Si,Si,1973-09-12,67787749
3,Bolivia,Mohamed Evans,No,No,No,1982-01-28,71468085
4,Paraguay,Mr Leonard Henry,No,Si,Si,1987-06-04,72398646
5,Venezuela,Mrs Joanna Smith,Si,Si,No,2002-02-01,46439400
6,Uruguay,Dr Elliot Taylor,No,No,Si,1973-09-21,14482644
7,Brasil,Mrs Amber Duffy,Si,Si,No,1991-05-25,38650962
8,Ecuador,Joyce Pearson-Gilbert,No,No,No,2014-11-16,34309260
9,Peru,Elizabeth Coleman,No,No,No,1970-06-28,78093644
10,EEUU,Miss Anna Hanson,Si,Si,Si,1970-06-16,74443777
11,Canada,Vincent Cook,No,Si,Si,1979-10-15,57639758
12,Mexico,Keith Wright,Si,Si,No,2020-09-27,14451846
13,Costa Rica,Ms Shannon Wilkins,No,No,Si,2010-02-24,82779403
14,Jamaica,Phillip Cooper,No,No,No,1971-12-02,61396490

In [35]:
df_final.columns

Index(['Pais', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
       'Inversion_arboles', 'Fecha', 'Telefono'],
      dtype='object')

# Paso 4: Conexion a Redshift

In [36]:
import psycopg2

url="data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws"
data_base="data-engineer-database"
user="dafbustosus_coderhouse"
with open("C:/Users/Windows/Downloads/pwd_coder.txt",'r') as f:
    pwd= f.read()

try:
    conn = psycopg2.connect(
        host='data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com',
        dbname=data_base,
        user=user,
        password=pwd,
        port='5439'
    )
    print("Connected to Redshift successfully!")
    
except Exception as e:
    print("Unable to connect to Redshift.")
    print(e)

Connected to Redshift successfully!

In [37]:
df_final.dtypes

Pais                 object
Comisionado          object
Reduccion_CO2        object
Incrmento_P          object
Inversion_arboles    object
Fecha                object
Telefono              int64
dtype: object

# Paso 5: Enviar tabla a la base de datos

In [38]:
from psycopg2.extras import execute_values

def cargar_en_redshift(conn, table_name, dataframe):
    dtypes= dataframe.dtypes
    cols= list(dtypes.index )
    tipos= list(dtypes.values)
    type_map = {'int64': 'INT','float64': 'FLOAT','object': 'VARCHAR(50)'}
    sql_dtypes = [type_map[str(dtype)] for dtype in tipos]
    # Definir formato SQL VARIABLE TIPO_DATO
    column_defs = [f"{name} {data_type}" for name, data_type in zip(cols, sql_dtypes)]
    # Combine column definitions into the CREATE TABLE statement
    table_schema = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            {', '.join(column_defs)}
        );
        """
    # Crear la tabla
    cur = conn.cursor()
    cur.execute(table_schema)
    # Generar los valores a insertar
    values = [tuple(x) for x in dataframe.to_numpy()]
    # Definir el INSERT
    insert_sql = f"INSERT INTO {table_name} ({', '.join(cols)}) VALUES %s"
    # Execute the transaction to insert the data
    cur.execute("BEGIN")
    execute_values(cur, insert_sql, values)
    cur.execute("COMMIT")
    print('Proceso terminado')

In [39]:
cargar_en_redshift(conn=conn, table_name='POLITICAS_2050', dataframe=df_final)

Proceso terminado

In [40]:
t=pd.read_csv('airbnb_nyc.csv',sep=',')
t.head()

,id,name,summary,description,experiences_offered,neighborhood_overview,transit,house_rules,host_id,host_since,...,hot_tub_sauna_or_pool,internet,long_term_stays,pets_allowed,private_entrance,secure,self_check_in,smoking_allowed,accessible,event_suitable
0,2539,Clean & quiet apt home by the park,Renovated apt home in elevator building.,Renovated apt home in elevator building. Spaci...,none,Close to Prospect Park and Historic Ditmas Park,Very close to F and G trains and Express bus i...,-The security and comfort of all our guests is...,2787,39698.0,...,-1,1,1,-1,-1,1,1,-1,1,1
1,3647,THE VILLAGE OF HARLEM....NEW YORK !,NaN,WELCOME TO OUR INTERNATIONAL URBAN COMMUNITY T...,none,NaN,NaN,Upon arrival please have a legibile copy of yo...,4632,39777.0,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
2,7750,Huge 2 BR Upper East Cental Park,NaN,Large Furnished 2BR one block to Central Park...,none,NaN,NaN,NaN,17985,39953.0,...,-1,1,-1,1,-1,-1,-1,-1,-1,-1
3,8505,Sunny Bedroom Across Prospect Park,Just renovated sun drenched bedroom in a quiet...,Just renovated sun drenched bedroom in a quiet...,none,Quiet and beautiful Windsor Terrace. The apart...,Ten minutes walk to the 15th sheet F&G train s...,- No shoes in the house - Quiet hours after 11...,25326,40006.0,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
4,8700,Magnifique Suite au N de Manhattan - vue Cloitres,Suite de 20 m2 a 5 min des 2 lignes de metro a...,Suite de 20 m2 a 5 min des 2 lignes de metro a...,none,NaN,Metro 1 et A,NaN,26394,40014.0,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1

In [41]:
t.columns

Index(['id', 'name', 'summary', 'description', 'experiences_offered',
       'neighborhood_overview', 'transit', 'house_rules', 'host_id',
       'host_since', 'host_response_time', 'host_response_rate',
       'host_is_superhost', 'host_listings_count', 'host_identity_verified',
       'street', 'neighbourhood', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'bed_type', 'amenities', 'price', 'guests_included', 'extra_people',
       'minimum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'cancellation_policy',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'check_in_24h', 'air_conditioning', 'high_end_electronics', 'bbq',
       'balcony', 'nature_and_views', 'bed_linen', 'breakfast', 'tv',
       'coffee_machine', 'cooking_basics', 'white_goods', 'elevator', 'gym',
       'child_friendly', 'parking', 'outdoor_space', 'host_greeting',
       'hot_tub_sauna_or_pool', 'internet', 'long_term_stays', 'pets_allowed',
       'private_entrance', 'secure', 'self_check_in', 'smoking_allowed',
       'accessible', 'event_suitable'],
      dtype='object')