In [69]:
!pip install -q psycopg2
!pip install -q sqlalchemy

CONEXIÓN CON POSTGRE SQL

In [70]:
import pandas as pd
from sqlalchemy import create_engine, text #Mecanismo para hacer conexión
#import psycopg2
pd.options.display.max_rows = 10
host="localhost"
database="Semana7_DE_Ariel" #Previamente creada
username="postgres"
with open("G:/Usuarios/Ariel Chumbita/Desktop/ARIEL/CURSOS Y FORMACION/DATA ENGINEERING - CODER HOUSE/pwd_postgre.txt",'r') as f:
    pwd= f.read()
port_id= '5432'

In [71]:
engine.dispose()

# SQLalchemy

In [72]:
engine= create_engine(f"postgresql://{username}:{pwd}@localhost:{port_id}/{database}")
engine

Engine(postgresql://postgres:***@localhost:5432/Semana7_DE_Ariel)

Leo las tablas directamente desde el equipo y las ingesto

In [73]:
import sys
print("Versión de Python")
print(sys.version)

Versión de Python
3.10.1 (tags/v3.10.1:2cd268a, Dec  6 2021, 19:10:37) [MSC v.1929 64 bit (AMD64)]

In [78]:
#engine= create_engine(f"postgresql://{username}:{pwd}@localhost:{port_id}/{database}")
# Caso redshift
#engine= conn = create_engine('postgresql://username:password@yoururl.com:5439/yourdatabase')
ruta_archivos='./Tablas/'
df = pd.read_csv(ruta_archivos+'product.txt').to_sql('product', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productreview.txt').to_sql('productreview', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productmodelproductdescriptionculture.txt').to_sql('productmodelproductdescriptionculture', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productdescription.txt').to_sql('productdescription', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesorderdetail.txt').to_sql('salesorderdetail', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productcategory.txt').to_sql('productcategory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productsubcategory.txt').to_sql('productsubcategory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesperson.txt').to_sql('salesperson', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesorderheader.txt').to_sql('salesorderheader', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesterritory.txt').to_sql('salesterritory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'countryregioncurrency.txt').to_sql('countryregioncurrency', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'currencyrate.txt').to_sql('currencyrate', engine, if_exists='replace', index=False)
# funcion para ejecutar comandos en python
def runQuery(sql):
    result = engine.connect().execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [77]:
#Pruebo lectura de archivo
pd.read_csv(ruta_archivos+'product.txt')

,productid,name,productnumber,makeflag,finishedgoodsflag,color,safetystocklevel,reorderpoint,standardcost,listprice,...,productline,class,style,productsubcategoryid,productmodelid,sellstartdate,sellenddate,discontinueddate,rowguid,modifieddate
0,1,Adjustable Race,AR-5381,f,f,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,694215b7-08f7-4c0d-acb1-d734ba44c0c8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,f,f,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,58ae3c20-4f3a-4749-a7d4-d568806cc537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,t,f,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,9c21aed2-5bfa-4f18-bcb8-f11638dc2e4e,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,f,f,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,ecfed6cb-51ff-49b5-b06c-7d8ac834db8b,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,t,f,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,e73e9750-603b-4131-89f5-3dd15ed5ff80,2014-02-08 10:01:36.827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,t,t,NaN,500,375,44.9506,101.24,...,NaN,M,NaN,5.0,96.0,2013-05-30 00:00:00,NaN,NaN,71ab847f-d091-42d6-b735-7b0c2d82fc84,2014-02-08 10:01:36.827
500,996,HL Bottom Bracket,BB-9108,t,t,NaN,500,375,53.9416,121.49,...,NaN,H,NaN,5.0,97.0,2013-05-30 00:00:00,NaN,NaN,230c47c5-08b2-4ce3-b706-69c0bdd62965,2014-02-08 10:01:36.827
501,997,"Road-750 Black, 44",BK-R19B-44,t,t,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,44ce4802-409f-43ab-9b27-ca53421805be,2014-02-08 10:01:36.827
502,998,"Road-750 Black, 48",BK-R19B-48,t,t,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,3de9a212-1d49-40b6-b10a-f564d981dbde,2014-02-08 10:01:36.827
503,999,"Road-750 Black, 52",BK-R19B-52,t,t,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,ae638923-2b67-4679-b90e-abbab17dca31,2014-02-08 10:01:36.827

In [79]:
#Verifico tipo de datos
pd.read_csv(ruta_archivos+'product.txt').dtypes

#Si quiero modificar un tipo de texto
#pd.read_csv(ruta_archivos+'product.txt',parse_dates=['modifiedDate']).dtypes

productid              int64
name                  object
productnumber         object
makeflag              object
finishedgoodsflag     object
                      ...
sellstartdate         object
sellenddate           object
discontinueddate     float64
rowguid               object
modifieddate          object
Length: 25, dtype: object

**Pregunta 1**

Usando las tablas ```product``` y ```productreview```, JOIN y clasifica los productos de acuerdo con su calificación promedio de revisión. ¿Cuáles son los nombres y las identificaciones de los 5 productos principales

In [80]:
query1="""SELECT product.productid, name, round(avg(rating), 2) as avgrating, count(*) as num_ratings
FROM product inner join productreview
ON productreview.productid = product.productid
GROUP BY product.productid, name
ORDER BY avgrating DESC"""
runQuery(query1)

   productid                    name avgrating  num_ratings
0        798   Road-550-W Yellow, 40      5.00            1
1        709  Mountain Bike Socks, M      5.00            1
2        937       HL Mountain Pedal      3.00            2

**Pregunta 2**

Para su decepción, ¡solo hay tres productos con calificaciones y solo cuatro reseñas en total! Esto no es lo suficientemente cerca como para realizar un análisis de la correlación entre las revisiones y las ventas totales.

Sin embargo, su gerente quiere la descripción en inglés de estos productos para una próxima venta. ¡Utilice la documentación proporcionada anteriormente si necesita ayuda para navegar por la estructura para extraer esto!

In [81]:
query2="""
SELECT "name",
       description
FROM productdescription pd
INNER JOIN productmodelproductdescriptionculture pm ON pm.productdescriptionid=pd.productdescriptionid
INNER JOIN product ON product.productmodelid = pm.productmodelid
WHERE productid IN (798,709,937)
  AND cultureid = 'en'
"""
runQuery(query2)

                     name                                        description
0   Road-550-W Yellow, 40  Same technology as all of our Road series bike...
1       HL Mountain Pedal      Stainless steel; designed to shed mud easily.
2  Mountain Bike Socks, M  Combination of natural and synthetic fibers st...

# Actividad

**Pregunta 1**

Encuentre los cinco vendedores con mejor desempeño usando la columna salesytd (Sales, year-to-date). (Solo necesitamos conocer el businessentityid de cada vendedor, ya que esto identifica de forma única a cada uno). ¿Por qué podría ser escéptico con estos números en este momento?

In [82]:
query5="""SELECT BusinessEntityID, SalesYTD FROM SalesPerson ORDER BY SalesYTD DESC LIMIT 5;"""
runQuery(query5)

   businessentityid      salesytd
0               276  4.251369e+06
1               289  4.116871e+06
2               275  3.763178e+06
3               277  3.189418e+06
4               290  3.121616e+06

**Pregunta 2**

Usando salesorderheader, busque los 5 mejores vendedores que hicieron la mayor cantidad de ventas en el año más reciente (2014). (Hay una columna llamada subtotal; úsela). Las ventas que no tienen un vendedor asociado deben excluirse de sus cálculos y producción final. Se deben incluir todos los pedidos que se realizaron dentro del año calendario 2014.

In [83]:
query6="""
SELECT salespersonid, round(SUM(subtotal)) AS totalsales
FROM salesorderheader soh
WHERE soh.orderdate >= '2014-01-01'
AND soh.SalesPersonID is not NULL
GROUP BY SalesPersonID
ORDER BY TotalSales DESC
LIMIT 5;
"""
runQuery(query6)

   salespersonid  totalsales
0          289.0   1382997.0
1          276.0   1271089.0
2          275.0   1057247.0
3          282.0   1044811.0
4          277.0   1040093.0