In [3]:
import os 
os.environ['SPARK_HOME']=r'C:/spark/'
os.environ['HADOOP_HOME'] = r'C:/hadoop/'
os.environ['PYSPARK_DRIVER_PYTHON']='jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS']='lab'
os.environ['PYSPARK_PYTHON']='python'

from pyspark.sql import SparkSession
# Crear Sesion spark
spark = SparkSession.builder.appName("App1").getOrCreate()

In [2]:
!pip install -q pyspark

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: C:\Users\Windows\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [7]:
# Crear la tabla "bde.titulos"
titulos_data = [
    ('1', 'Consultas SQL', 'bbdd'),
    ('3', 'Grupo recursos Azure', 'administracion'),
    ('4', '.NET Framework 4.5', 'programacion'),
    ('5', 'Programacion C#', 'dev'),
    ('7', 'Power BI', 'BI'),
    ('8', 'Administracion Sql server', 'administracion')
]

titulos_df = spark.createDataFrame(titulos_data, ["titulo_id", "titulo", "tipo"])

# Mostrar
titulos_df.show()

+---------+--------------------+--------------+
|titulo_id|              titulo|          tipo|
+---------+--------------------+--------------+
|        1|       Consultas SQL|          bbdd|
|        3|Grupo recursos Azure|administracion|
|        4|  .NET Framework 4.5|  programacion|
|        5|     Programacion C#|           dev|
|        7|            Power BI|            BI|
|        8|Administracion Sq...|administracion|
+---------+--------------------+--------------+

In [8]:
# Crear "bde.autores" 
autores_data = [
    ('3', 'David', 'Saenz', '99897867'),
    ('8', 'Ana', 'Ruiz', '99897466'),
    ('2', 'Julian', 'Perez', '99897174'),
    ('1', 'Andres', 'Calamaro', '99876869'),
    ('4', 'Cidys', 'Castillo', '998987453'),
    ('5', 'Pedro', 'Molina', '99891768')
]

autores_df = spark.createDataFrame(autores_data, ["TituloId", "NombreAutor", "ApellidosAutor", "TelefonoAutor"])

# Mostrar
autores_df.show()

+--------+-----------+--------------+-------------+
|TituloId|NombreAutor|ApellidosAutor|TelefonoAutor|
+--------+-----------+--------------+-------------+
|       3|      David|         Saenz|     99897867|
|       8|        Ana|          Ruiz|     99897466|
|       2|     Julian|         Perez|     99897174|
|       1|     Andres|      Calamaro|     99876869|
|       4|      Cidys|      Castillo|    998987453|
|       5|      Pedro|        Molina|     99891768|
+--------+-----------+--------------+-------------+

In [9]:
# Mi forma de hacer el procedimiento
def transform_dim_titulos(titulos_df, autores_df):
    transformed_df = titulos_df.join(autores_df, titulos_df.titulo_id == autores_df.TituloId, "inner") \
        .withColumnRenamed("NombreAutor", "NombreCompleto") \
        .select("titulo_id", "titulo", "tipo", "NombreCompleto", "TelefonoAutor")
    return transformed_df

In [10]:
dim_titulos_df = transform_dim_titulos(titulos_df, autores_df)

# Mostrar resultado
dim_titulos_df.show()

+---------+--------------------+--------------+--------------+-------------+
|titulo_id|              titulo|          tipo|NombreCompleto|TelefonoAutor|
+---------+--------------------+--------------+--------------+-------------+
|        1|       Consultas SQL|          bbdd|        Andres|     99876869|
|        3|Grupo recursos Azure|administracion|         David|     99897867|
|        4|  .NET Framework 4.5|  programacion|         Cidys|    998987453|
|        5|     Programacion C#|           dev|         Pedro|     99891768|
|        8|Administracion Sq...|administracion|           Ana|     99897466|
+---------+--------------------+--------------+--------------+-------------+

In [ ]:
spark.stop()