In [42]:
import os 
os.environ['SPARK_HOME']=r'C:/spark/'
os.environ['HADOOP_HOME'] = r'C:/hadoop/'
os.environ['PYSPARK_DRIVER_PYTHON']='jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS']='lab'
os.environ['PYSPARK_PYTHON']='python'

In [43]:
from pyspark.sql import SparkSession
# Crear una instancia de  SparkSession
spark = SparkSession.builder.getOrCreate()

In [44]:
spark

In [45]:
%pwd

'c:\\Users\\Windows\\Desktop\\Curso Data Engineering David BU\\PySpark'

In [46]:
parse= spark.read.option("header", "true").option("nullValue","?").\
    option("inferSchema","true").csv("./prueba/block_1/block_1.csv")
parse

DataFrame[id_1: int, id_2: int, cmp_fname_c1: double, cmp_fname_c2: double, cmp_lname_c1: double, cmp_lname_c2: double, cmp_sex: int, cmp_bd: int, cmp_bm: int, cmp_by: int, cmp_plz: int, is_match: boolean]

In [47]:
type(parse)

pyspark.sql.dataframe.DataFrame

In [48]:
parse.show(3)

+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|     cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
|37291|53113|0.833333333333333|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|
|39086|47614|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|70031|70237|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 3 rows

In [49]:
parse.printSchema()

root
 |-- id_1: integer (nullable = true)
 |-- id_2: integer (nullable = true)
 |-- cmp_fname_c1: double (nullable = true)
 |-- cmp_fname_c2: double (nullable = true)
 |-- cmp_lname_c1: double (nullable = true)
 |-- cmp_lname_c2: double (nullable = true)
 |-- cmp_sex: integer (nullable = true)
 |-- cmp_bd: integer (nullable = true)
 |-- cmp_bm: integer (nullable = true)
 |-- cmp_by: integer (nullable = true)
 |-- cmp_plz: integer (nullable = true)
 |-- is_match: boolean (nullable = true)

# Escritura y lectura

In [50]:
d1 = spark.read.option("multiline", "true").option("encoding", "utf-8").json("./data_david.json")
d1

DataFrame[apellido: string, genero: string, nombre: string]

In [51]:
d1.show()

+--------+------+------+
|apellido|genero|nombre|
+--------+------+------+
|     DBU|     M| David|
+--------+------+------+

In [9]:
d2 = spark.read.option("multiline", "true").option("encoding", "utf-8").json("./data_david.json")
d2.show()

+--------+------+------+
|apellido|genero|nombre|
+--------+------+------+
|     DBU|     M| David|
+--------+------+------+

In [52]:
#d3 = spark.read.option("multiline", "true").option("encoding", "utf-8").json("./data_david2.json")
#d3 = spark.read.json(spark.sparkContext.parallelize(["./data_david2.json"]))
d3 = spark.read.option("multiline", "true").option("encoding", "utf-8").json("./data_david2.json")
d3.show()

+--------------------+
|            personas|
+--------------------+
|[{DBU, M, 1, Davi...|
+--------------------+

In [53]:
from pyspark.sql.functions import explode, col
d3_flattened = d3.select(explode(col("personas")).alias("persona"))
d3_flattened.show()

+--------------------+
|             persona|
+--------------------+
|{DBU, M, 1, David...|
|{Smith, F, 2, Ann...|
+--------------------+

explode transforma un array en una columna mapeada

# Operaciones clase

In [55]:
parse.show(2)

+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|     cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
|37291|53113|0.833333333333333|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|
|39086|47614|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 2 rows

In [56]:
parse.first()

Row(id_1=37291, id_2=53113, cmp_fname_c1=0.833333333333333, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=0, is_match=True)

In [57]:
parse.printSchema()

root
 |-- id_1: integer (nullable = true)
 |-- id_2: integer (nullable = true)
 |-- cmp_fname_c1: double (nullable = true)
 |-- cmp_fname_c2: double (nullable = true)
 |-- cmp_lname_c1: double (nullable = true)
 |-- cmp_lname_c2: double (nullable = true)
 |-- cmp_sex: integer (nullable = true)
 |-- cmp_bd: integer (nullable = true)
 |-- cmp_bm: integer (nullable = true)
 |-- cmp_by: integer (nullable = true)
 |-- cmp_plz: integer (nullable = true)
 |-- is_match: boolean (nullable = true)

In [58]:
parse.count()

574913

In [59]:
parse.describe().show()

+-------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+--------------------+
|summary|              id_1|             id_2|      cmp_fname_c1|      cmp_fname_c2|      cmp_lname_c1|      cmp_lname_c2|            cmp_sex|             cmp_bd|            cmp_bm|             cmp_by|             cmp_plz|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+--------------------+
|  count|            574913|           574913|            574811|             10325|            574913|               239|             574913|             574851|            574851|             574851|              573618|
|   mean|33271.962171667714| 66564.6636865056|0.7127592938253411|0.8977586763518969|0.3155724578100624|0.3269155414552904| 0.9550923357099248|0.22475563232907309|0.4886361857246487|0.22266639529199742|0.005494946113964...|
| stddev|23622.669425933756|23642.00230967228|0.3889286452463531|0.2742577520430532|0.3342494687554245|0.3783092020540671|0.20710152240504442| 0.4174216587235557|0.4998712818281637| 0.4160365041645591| 0.07392402321301972|
|    min|                 1|                6|               0.0|               0.0|               0.0|               0.0|                  0|                  0|                 0|                  0|                   0|
|    max|             99894|           100000|               1.0|               1.0|               1.0|               1.0|                  1|                  1|                 1|                  1|                   1|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+--------------------+

In [60]:
parse.select("id_1", "id_2", "cmp_fname_c1").show()

+-----+-----+-----------------+
| id_1| id_2|     cmp_fname_c1|
+-----+-----+-----------------+
|37291|53113|0.833333333333333|
|39086|47614|              1.0|
|70031|70237|              1.0|
|84795|97439|              1.0|
|36950|42116|              1.0|
|42413|48491|              1.0|
|25965|64753|              1.0|
|49451|90407|              1.0|
|39932|40902|              1.0|
|46626|47940|              1.0|
|48948|98379|              1.0|
| 4767| 4826|              1.0|
|45463|69659|              1.0|
|11367|13169|              1.0|
|10782|89636|              1.0|
|26206|39147|              1.0|
|16662|27083|              1.0|
|18823|30204|              1.0|
|38545|85418|              1.0|
|28963|39172|              1.0|
+-----+-----+-----------------+
only showing top 20 rows

In [61]:
parse.filter(parse["cmp_lname_c1"] == 1.0).show()

+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|     cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
|37291|53113|0.833333333333333|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|
|39086|47614|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|70031|70237|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|84795|97439|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|36950|42116|              1.0|        null|         1.0|         1.0|      1|     1|     1|     1|      1|    true|
|42413|48491|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|25965|64753|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|49451|90407|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|
|39932|40902|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|46626|47940|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|48948|98379|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
| 4767| 4826|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|45463|69659|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|11367|13169|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|10782|89636|              1.0|        null|         1.0|        null|      1|     0|     1|     1|      1|    true|
|26206|39147|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|16662|27083|              1.0|         1.0|         1.0|        null|      1|     1|     1|     1|      1|    true|
|18823|30204|              1.0|         1.0|         1.0|        null|      1|     1|     1|     1|      1|    true|
|38545|85418|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|28963|39172|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 20 rows

In [62]:
parse.groupBy("cmp_sex").count().show()

+-------+------+
|cmp_sex| count|
+-------+------+
|      1|549095|
|      0| 25818|
+-------+------+

In [63]:
parse.groupBy("cmp_sex").agg({"cmp_bd": "avg", "cmp_bm": "max"}).show()

+-------+-----------+------------------+
|cmp_sex|max(cmp_bm)|       avg(cmp_bd)|
+-------+-----------+------------------+
|      1|          1|0.2027018412372298|
|      0|          1|0.6937408009915563|
+-------+-----------+------------------+

In [64]:
parse.orderBy("cmp_fname_c1", ascending=False).show()

+-----+-----+------------+------------+-----------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|cmp_fname_c1|cmp_fname_c2|     cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+------------+------------+-----------------+------------+-------+------+------+------+-------+--------+
|41285|70616|         1.0|        null|0.428571428571429|        null|      1|     0|     1|     0|      0|   false|
|23499|40452|         1.0|        null|              1.0|        null|      1|     1|     1|     1|      1|    true|
|62005|83027|         1.0|        null|0.142857142857143|        null|      1|     0|     1|     0|      0|   false|
|53806|57851|         1.0|        null|              1.0|        null|      1|     1|     1|     1|      1|    true|
|17874|76936|         1.0|        null|              0.0|        null|      1|     0|     1|     0|      0|   false|
|46469|94155|         1.0|        null|              1.0|        null|      1|     1|     1|     1|      1|    true|
|43244|59845|         1.0|        null|0.142857142857143|        null|      1|     0|     1|     0|      0|   false|
|39086|47614|         1.0|        null|              1.0|        null|      1|     1|     1|     1|      1|    true|
|46340|68263|         1.0|        null|0.111111111111111|        null|      1|     0|     1|     0|      0|   false|
|25816|29809|         1.0|        null|              1.0|        null|      1|     1|     1|     1|      1|    true|
|14192|55239|         1.0|        null|            0.125|        null|      1|     0|     1|     0|      0|   false|
|84795|97439|         1.0|        null|              1.0|        null|      1|     1|     1|     1|      1|    true|
|15402|61734|         1.0|        null|              0.0|        null|      1|     0|     1|     0|      0|   false|
|28777|39482|         1.0|        null|              1.0|        null|      1|     1|     1|     1|      1|    true|
|30364|68447|         1.0|        null|0.142857142857143|        null|      1|     0|     1|     0|      0|   false|
|42413|48491|         1.0|        null|              1.0|        null|      1|     1|     1|     1|      1|    true|
|22961|88610|         1.0|        null|0.285714285714286|        null|      1|     0|     1|     0|      0|   false|
|18914|18916|         1.0|        null|              1.0|        null|      1|     1|     1|     1|      1|    true|
|36073|64856|         1.0|        null|0.428571428571429|        null|      1|     0|     1|     0|      0|   false|
|49451|90407|         1.0|        null|              1.0|        null|      1|     1|     1|     1|      0|    true|
+-----+-----+------------+------------+-----------------+------------+-------+------+------+------+-------+--------+
only showing top 20 rows

In [65]:
parse.select("cmp_sex").distinct().show()

+-------+
|cmp_sex|
+-------+
|      1|
|      0|
+-------+

In [66]:
from pyspark.sql.functions import col
parse.withColumn("total_cmp", col("cmp_fname_c1") + col("cmp_lname_c1")).show()

+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+-----------------+
| id_1| id_2|     cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|        total_cmp|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+-----------------+
|37291|53113|0.833333333333333|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|1.833333333333333|
|39086|47614|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|70031|70237|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|84795|97439|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|36950|42116|              1.0|        null|         1.0|         1.0|      1|     1|     1|     1|      1|    true|              2.0|
|42413|48491|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|25965|64753|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|49451|90407|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|              2.0|
|39932|40902|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|46626|47940|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|48948|98379|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
| 4767| 4826|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|45463|69659|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|11367|13169|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|10782|89636|              1.0|        null|         1.0|        null|      1|     0|     1|     1|      1|    true|              2.0|
|26206|39147|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|16662|27083|              1.0|         1.0|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|18823|30204|              1.0|         1.0|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|38545|85418|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
|28963|39172|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|              2.0|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+-----------------+
only showing top 20 rows

In [67]:
parse.drop("cmp_fname_c2", "cmp_lname_c2").show()

+-----+-----+-----------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|     cmp_fname_c1|cmp_lname_c1|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+-----------------+------------+-------+------+------+------+-------+--------+
|37291|53113|0.833333333333333|         1.0|      1|     1|     1|     1|      0|    true|
|39086|47614|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|70031|70237|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|84795|97439|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|36950|42116|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|42413|48491|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|25965|64753|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|49451|90407|              1.0|         1.0|      1|     1|     1|     1|      0|    true|
|39932|40902|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|46626|47940|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|48948|98379|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
| 4767| 4826|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|45463|69659|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|11367|13169|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|10782|89636|              1.0|         1.0|      1|     0|     1|     1|      1|    true|
|26206|39147|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|16662|27083|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|18823|30204|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|38545|85418|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
|28963|39172|              1.0|         1.0|      1|     1|     1|     1|      1|    true|
+-----+-----+-----------------+------------+-------+------+------+------+-------+--------+
only showing top 20 rows

In [68]:
parse.groupBy("cmp_sex").pivot("cmp_bd").agg({"is_match": "count"}).show()

+-------+----+------+------+
|cmp_sex|null|     0|     1|
+-------+----+------+------+
|      1|  62|437743|111290|
|      0|null|  7907| 17911|
+-------+----+------+------+

In [69]:
parse.na.drop().show()  #

+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
|28135|36055|         1.0|         1.0|         1.0|         1.0|      1|     1|     1|     1|      1|    true|
|81291|90329|         1.0|         1.0|         1.0|         1.0|      1|     1|     1|     1|      1|    true|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+

In [70]:
parse.na.fill(0).show()

+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|     cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
|37291|53113|0.833333333333333|         0.0|         1.0|         0.0|      1|     1|     1|     1|      0|    true|
|39086|47614|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|70031|70237|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|84795|97439|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|36950|42116|              1.0|         0.0|         1.0|         1.0|      1|     1|     1|     1|      1|    true|
|42413|48491|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|25965|64753|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|49451|90407|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      0|    true|
|39932|40902|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|46626|47940|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|48948|98379|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
| 4767| 4826|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|45463|69659|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|11367|13169|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|10782|89636|              1.0|         0.0|         1.0|         0.0|      1|     0|     1|     1|      1|    true|
|26206|39147|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|16662|27083|              1.0|         1.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|18823|30204|              1.0|         1.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|38545|85418|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
|28963|39172|              1.0|         0.0|         1.0|         0.0|      1|     1|     1|     1|      1|    true|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 20 rows

In [71]:
# Contar nans por columna
na_counts = [parse.where(parse[col].isNull()).count() for col in parse.columns]
# Diccionario base
na_counts_dict = dict(zip(parse.columns, na_counts))
na_counts_dict

{'id_1': 0,
 'id_2': 0,
 'cmp_fname_c1': 102,
 'cmp_fname_c2': 564588,
 'cmp_lname_c1': 0,
 'cmp_lname_c2': 574674,
 'cmp_sex': 0,
 'cmp_bd': 62,
 'cmp_bm': 62,
 'cmp_by': 62,
 'cmp_plz': 1295,
 'is_match': 0}

In [72]:
parse.cache()

DataFrame[id_1: int, id_2: int, cmp_fname_c1: double, cmp_fname_c2: double, cmp_lname_c1: double, cmp_lname_c2: double, cmp_sex: int, cmp_bd: int, cmp_bm: int, cmp_by: int, cmp_plz: int, is_match: boolean]

In [41]:
spark.stop() # Importante cerrar sesion